* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
  -webkit-user-select: none; }

html {
  width: 100%;
  height: 100%;
  background: none; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #000;
  background: none;
  overflow-y: auto; }

#root {
  width: 100vw;
  height: 100vh;
  background: none;
  position: relative;
  padding: 10px 25px 25px 25px; }

a {
  text-decoration: none;
  color: #000; }

a img {
  border: none; }

i, em {
  font-style: normal; }

input {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

input[placeholder] {
  font-family: "amble", "Microsoft YaHei", "PingFangSC-Regular", STHeiti, Helvetica, Arial, sans-serif !important; }

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background-color: #f0f0f0; }

::-webkit-scrollbar-thumb {
  background-color: #999; }

::-webkit-scrollbar-track {
  background-color: unset; }

::selection {
  background: #858585;
  color: #FFF; }

::-moz-selection {
  background: #858585;
  color: #FFF; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

@font-face {
  font-family: "amble";
  src: url("../font/Amble-Regular.ttf"); }

.home-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 50px; }
  .home-wrapper .home-tab {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
    -webkit-app-region: no-drag; }
    .home-wrapper .home-tab .tab {
      color: #999;
      transition: all 250ms ease;
      -webkit-app-region: no-drag;
      cursor: pointer; }
      .home-wrapper .home-tab .tab:hover {
        color: #333; }
    .home-wrapper .home-tab .cur {
      color: #333;
      font-weight: bold; }
  .home-wrapper .home-tab-wrapper {
    width: 100%;
    height: calc(100vh - 50px - 32px); }
    .home-wrapper .home-tab-wrapper .swiper-wrapper {
      display: flex;
      width: 400vw;
      height: 100%; }
    .home-wrapper .home-tab-wrapper .swiper-slide {
      width: 100vw;
      height: 100%; }
  .home-wrapper .recommend-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .home-wrapper .recommend-wrapper .recommoned-banner {
      width: 100%;
      padding: 5px 18px;
      display: flex; }
      .home-wrapper .recommend-wrapper .recommoned-banner .cover {
        width: 32vw;
        height: 32vw;
        box-shadow: 0px 6px 18px 0px rgba(73, 73, 73, 0.4);
        position: relative; }
        .home-wrapper .recommend-wrapper .recommoned-banner .cover .list-tag {
          position: absolute;
          right: 8px;
          bottom: 8px;
          padding: 3px 8px;
          font-size: 11px;
          display: flex;
          border-radius: 2px;
          background: rgba(0, 0, 0, 0.5);
          color: #FFF; }
          .home-wrapper .recommend-wrapper .recommoned-banner .cover .list-tag em {
            margin-right: 1px;
            font-size: 14px; }
        .home-wrapper .recommend-wrapper .recommoned-banner .cover img {
          display: block;
          width: 100%;
          height: 100%; }
      .home-wrapper .recommend-wrapper .recommoned-banner .info {
        width: calc(100% - 32vw);
        padding-left: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .home-wrapper .recommend-wrapper .recommoned-banner .info .name {
          font-size: 3.4vw;
          font-weight: bold;
          line-height: 1.6;
          max-height: 11vw;
          overflow: hidden; }
        .home-wrapper .recommend-wrapper .recommoned-banner .info .desc {
          font-size: 2.8vw;
          color: #999;
          line-height: 1.6;
          height: 8.5vw;
          overflow: hidden; }
        .home-wrapper .recommend-wrapper .recommoned-banner .info .play-btn {
          width: 100px;
          height: 8vw;
          background: #666;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          cursor: pointer;
          font-size: 12px;
          -webkit-app-region: no-drag; }
          .home-wrapper .recommend-wrapper .recommoned-banner .info .play-btn i {
            margin-right: 5px;
            font-size: 24px; }
    .home-wrapper .recommend-wrapper .item-list {
      width: 100%;
      height: calc(100% - 32vw - 38px);
      overflow-y: auto;
      -webkit-app-region: no-drag;
      margin-top: 16px;
      padding-bottom: 68px; }
      .home-wrapper .recommend-wrapper .item-list .album-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease; }
        .home-wrapper .recommend-wrapper .item-list .album-itembox:hover {
          background: #F0F0F0; }
        .home-wrapper .recommend-wrapper .item-list .album-itembox .cover {
          width: 68px;
          height: 68px; }
          .home-wrapper .recommend-wrapper .item-list .album-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .home-wrapper .recommend-wrapper .item-list .album-itembox .r {
          width: calc(100% - 68px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .home-wrapper .recommend-wrapper .item-list .album-itembox .r .desc {
            font-size: 14px;
            line-height: 1.6; }
          .home-wrapper .recommend-wrapper .item-list .album-itembox .r .num {
            font-size: 12px;
            color: #999;
            display: flex; }
            .home-wrapper .recommend-wrapper .item-list .album-itembox .r .num i {
              margin-right: 4px;
              align-items: center; }
  .home-wrapper .newest {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .home-wrapper .newest .newest-banner {
      width: 100%;
      height: 25vh;
      overflow: hidden;
      position: relative;
      display: none; }
      .home-wrapper .newest .newest-banner .bg {
        display: block;
        width: 100%; }
    .home-wrapper .newest .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .home-wrapper .newest .item-list .song-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease;
        position: relative; }
        .home-wrapper .newest .item-list .song-itembox:hover {
          background: #F0F0F0; }
        .home-wrapper .newest .item-list .song-itembox .cover {
          width: 38px;
          height: 38px; }
          .home-wrapper .newest .item-list .song-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .home-wrapper .newest .item-list .song-itembox .info {
          width: calc(100% - 38px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .home-wrapper .newest .item-list .song-itembox .info .name {
            font-size: 14px;
            line-height: 1.6;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .home-wrapper .newest .item-list .song-itembox .info .singer {
            font-size: 12px;
            color: #999;
            display: flex; }
            .home-wrapper .newest .item-list .song-itembox .info .singer i {
              margin-right: 4px;
              align-items: center; }
      .home-wrapper .newest .item-list .song-itembox-active {
        position: relative;
        background: #F0F0F0; }
        .home-wrapper .newest .item-list .song-itembox-active .info {
          width: calc(100% - 70px); }
        .home-wrapper .newest .item-list .song-itembox-active:before {
          content: '\e6a9';
          font-family: iconfont;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 16px;
          top: 0px;
          height: 100%;
          color: #666;
          font-size: 26px; }
  .home-wrapper .album {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px; }
    .home-wrapper .album .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .home-wrapper .album .item-list .album-itembox {
        width: 50%;
        padding: 8px 18px;
        height: 48vw;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease;
        float: left; }
        .home-wrapper .album .item-list .album-itembox:hover .cover:before {
          right: -24px; }
        .home-wrapper .album .item-list .album-itembox .cover {
          width: 30vw;
          height: 30vw;
          position: relative; }
          .home-wrapper .album .item-list .album-itembox .cover:before {
            content: '';
            display: block;
            width: 30vw;
            height: 30vw;
            background: #333;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            top: 50%;
            margin-top: -15vw;
            transition: all 250ms ease-out; }
          .home-wrapper .album .item-list .album-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 9;
            box-shadow: 0px 2px 6px 0px rgba(73, 73, 73, 0.1);
            background: #FFF; }
        .home-wrapper .album .item-list .album-itembox .info {
          width: 100%;
          padding: 10px 0px 0px; }
          .home-wrapper .album .item-list .album-itembox .info .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1.6; }
          .home-wrapper .album .item-list .album-itembox .info .singer {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: #999;
            display: flex; }
            .home-wrapper .album .item-list .album-itembox .info .singer i {
              margin-right: 4px;
              align-items: center; }
  .home-wrapper .mysong {
    width: 100%;
    height: 100%;
    padding: 10px 0px 18px;
    position: relative; }
    .home-wrapper .mysong .mysong-empty {
      width: 100%;
      padding: 10vh 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-app-region: no-drag; }
      .home-wrapper .mysong .mysong-empty .loading {
        width: 60vw; }
      .home-wrapper .mysong .mysong-empty .loading-text {
        font-size: 12px;
        color: #999;
        margin-top: 8px;
        margin-bottom: 20px; }
      .home-wrapper .mysong .mysong-empty .tip {
        font-size: 14px;
        font-weight: bold; }
      .home-wrapper .mysong .mysong-empty .file-btn {
        padding: 10px 20px;
        background: #666;
        color: #FFF;
        font-size: 12px;
        cursor: pointer;
        -webkit-app-region: no-drag;
        margin-top: 12px; }
    .home-wrapper .mysong .item-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 68px;
      padding-top: 10px; }
      .home-wrapper .mysong .item-list .list-head {
        width: 100%;
        display: flex;
        padding: 0px 18px 20px;
        align-items: center;
        justify-content: space-between; }
        .home-wrapper .mysong .item-list .list-head .label {
          font-size: 14px; }
          .home-wrapper .mysong .item-list .list-head .label i {
            color: #999;
            font-size: 11px;
            margin-left: 5px; }
        .home-wrapper .mysong .item-list .list-head .adddir {
          color: #666;
          margin-left: 12px;
          -webkit-app-region: no-drag;
          cursor: pointer; }
      .home-wrapper .mysong .item-list .song-itembox {
        width: 100%;
        padding: 8px 18px;
        display: flex;
        cursor: pointer;
        -webkit-app-region: no-drag;
        transition: all 250ms ease; }
        .home-wrapper .mysong .item-list .song-itembox:hover {
          background: #F0F0F0; }
        .home-wrapper .mysong .item-list .song-itembox .cover {
          width: 38px;
          height: 38px; }
          .home-wrapper .mysong .item-list .song-itembox .cover img {
            display: block;
            width: 100%;
            height: 100%; }
        .home-wrapper .mysong .item-list .song-itembox .info {
          width: calc(100% - 38px);
          padding: 0px 0px 0px 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .home-wrapper .mysong .item-list .song-itembox .info .name {
            font-size: 14px;
            line-height: 1.6;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .home-wrapper .mysong .item-list .song-itembox .info .singer {
            font-size: 12px;
            color: #999;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .home-wrapper .mysong .item-list .song-itembox .info .singer i {
              margin-right: 4px;
              align-items: center; }
      .home-wrapper .mysong .item-list .song-itembox-active {
        position: relative;
        background: #F0F0F0; }
        .home-wrapper .mysong .item-list .song-itembox-active .info {
          width: calc(100% - 70px); }
        .home-wrapper .mysong .item-list .song-itembox-active:before {
          content: '\e6a9';
          font-family: iconfont;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 16px;
          top: 0px;
          height: 100%;
          color: #666;
          font-size: 26px; }
